{% extends 'basic_template.html' %}
{% load static %}
{% load app_tags %}
{% block title %}AirSyst - Каталог{% endblock %}
{% block content %}
<div class="bread-crumbs wrap">
    <a href="/" class="bread-crumbs__item">Главная</a>
    <a href="{% url 'equipment' %}" class="bread-crumbs__item">Оборудование</a>
    {% if main_category %}
    <a href="{% url 'equipment_by_category' main_category.pk %}" class="bread-crumbs__item">{{ main_category.name }}</a>
    {% endif %}
    <div class="bread-crumbs__item">{{ category.name }}</div>
</div>
<section class="catalog wrap">
    <h1 class="title">{{ category.name }}</h1>
    <div class="catalog__content">
        {% if brands or options %}
        {% if items%}
        <div class="filter">
            <div class="filter-apply">Применить</div>
            <h2 class="filter__title">Фильтр</h2>

            {% comment %} Brands {% endcomment %}
            {% if brands %}
            <div class="filter__checkboxs" option-id="brands">
                <h3 class="filter__sub-title">Бренды</h3>
                {% for brand in brands %}
                <div class="filter__checkbox" option-value-id="{{ brand.pk }}">
                    <div class="filter__check">
                        <img src="{% static 'airsyst_app/img/icons/check.svg' %}">
                    </div>
                    <span>{{ brand.name }}</span>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            {% comment %} Options {% endcomment %}
            {% for option in options %}
            {% comment %} Check if option is numerical {% endcomment %}
            {% if not option.numerical %}
            <div class="filter__checkboxs" option-id="{{ option.pk }}" name="{{ option.name }}">
                <h3 class="filter__sub-title">{{ option.name }}</h3>
                {% get_option_values items option.pk as option_values %}
                {% for option_value_model in option_values %}
                <div class="filter__checkbox" option-value-id="{{ option_value_model.pk }}"
                    name="{{ option_value_model.name }}">
                    <div class="filter__check">
                        <img src="{% static 'airsyst_app/img/icons/check.svg' %}">
                    </div>
                    <span>{{ option_value_model.name }}</span>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="filter__range" option-id="{{ option.pk }}">
                <h3 class="filter__sub-title">{{ option.name }}</h3>
                <div class="filter__inputs">
                    {% get_min_value_for_option option.pk items as min_value %}
                    {% get_max_value_for_option option.pk items as max_value %}
                    <input type="text" valide-value="{{ min_value }}" name=" min" placeholder="от ({{ min_value }})">
                    <input type="text" valide-value="{{ max_value }}" name="max" placeholder="до ({{ max_value }})">
                </div>
                <!--
                    <div class="range-slider flat" data-ticks-position='top' style='--min:-500; --max:500; --value-a:-500; --value-b:500; --suffix:""; --text-value-a:"-500"; --text-value-b:"500";'>
                        <input type="range" min="-500" max="500" value="-500" oninput="this.parentNode.style.setProperty('--value-a',this.value); this.parentNode.style.setProperty('--text-value-a', JSON.stringify(this.value))">
                        <output></output>
                        <input type="range" min="-500" max="500" value="500" oninput="this.parentNode.style.setProperty('--value-b',this.value); this.parentNode.style.setProperty('--text-value-b', JSON.stringify(this.value))">
                        <output></output>
                        <div class='range-slider__progress'></div>
                    </div>   -->
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% endif %}
        {% if items %}
        <div class="catalog__items">
            {% for item in items %}
            <a href="{% url 'equipment_single' item.pk %}" class="catalog__item" product-id="{{ item.pk }}">
                <img class="catalog__img" src="{{ item.pk|get_first_image_for_equip }}" alt="">
                <div class="catalog__price">{{ item.price }} BYN</div>
                <div class="catalog__delivery">срок поставки: {{ item.supply_time }}</div>
                <h2 class="catalog__name">{{ item.name }}</h2>
                <h3 class="catalog__art">Артикул: {{ item.article }}</h3>
                <div class="catalog__count">
                    <div class="catalog__minus">-</div>
                    <input id="catalog-count" type="text" value="1">
                    <div class="catalog__plus">+</div>
                </div>
                <div class="btn to-shopping-cart">
                    <img src="{% static 'airsyst_app/img/icons/to-basket.svg' %}" alt="">
                    В корзину
                </div>
            </a>
            {% endfor %}
        </div>
        {% else %}
        <div class="catalog__empty">
            Тут пока пусто :(
        </div>
        {% endif %}

        {% if pagination %}

        <div class="pagination">
            <a href="#" class="pagination__start">
                В начало
            </a>
            <a href="#" class="pagination__before">
                < </a> <div class="pagination__pages">
                    <a href="#" class="pagination__page active">1</a>,
                    <a href="#" class="pagination__page">2</a>,
                    <a href="#" class="pagination__page">3</a>,
                    <a href="#" class="pagination__page">4</a>,
                    <a href="#" class="pagination__page">5</a>
        </div>
        <a href="#" class="pagination__after">></a>
        <a href="#" class="pagination__end">
            В конец
        </a>
        {% endif %}

    </div>
    {% comment %} </div> {% endcomment %}
</section>
{% endblock %}