{% extends "basic_template.html" %}
{% load static %}
{% block title %}AirSyst - Генераторы кислорода{% endblock %}
{% block content %}
    <section class="page-gen-img">
        <img src="{% static 'airsyst_app/img/images/oksijenmenuru (1) 1.jpg' %}" alt="">
    </section>
    <section class="page-gen-info wrap">
        <img src="{% static 'airsyst_app/img/images/oksijensolresim-1 1.jpg' %}" alt="">
        <h2 class="page-gen-info__text">
            <p><b>Производите собственный газообразный кислород, забудьте о расходах на покупку баллонов или жидкого
                    кислорода!</b></p>
            <p>Системы генераторов кислорода IDEAL MAKINA PSA производят кислород в виде газа из сжатого воздуха на
                месте,
                где они работают, и предлагают экономичное, непрерывное и безопасное решение по сравнению с
                традиционными
                источниками газообразного кислорода, такими как баллоны или криогенная жидкость. Наши генераторы
                кислорода
                доступны в 21 стандартной модели с производительностью 95% чистотой от 0,5 до 2000 Нм3/ч. Конструкция
                рассчитана на круглосуточную работу. Каждый кислородный генератор оснащен функцией автоматического
                запуска и
                остановки, которая позволяет пользователю запускать и останавливать автоматически в соответствии с
                потреблением кислорода.</p>
            <p><b>Почему генераторы кислорода IDEAL MAKINA?</b></p>
            <p>
                <span>· Гарантия высокой чистоты</span>
                <span>· Низкое потребление воздуха и затраты на техническое обслуживание.</span>
                <span>· Простота использования и обслуживания</span>
                <span>· Цветной сенсорный экран</span>
                <span>· Мгновенный мониторинг и запись таких параметров, как чистота, давление и расход</span>
                <span>· Удаленное управление программным обеспечением</span>
                <span>· Не требующие обслуживания регулирующие клапаны из нержавеющей стали AISI316L</span>
                <span>· Полностью автоматический режим работы без оператора</span>
                <span>· Круглосуточная техническая поддержка.</span>
                <span>· Выбор модели Plug & Play</span>
                <span>· Мобильная конструкция на салазках</span>
                <span>· Мобильный контейнерный дизайн</span>
                <span>· Наполнение баллона до 150 бар</span>
                <span>· Гарантия бесперебойного производства с резервной системой клапанов</span>
            </p>
        </h2>
    </section>
    <section class="page-gen-clear wrap">
        <h3 class="page-gen-clear__text">
            <p><b>Вы покупаете не только кислородный баллон или жидкий кислород, но и:</b></p>
            <p>
                <span>· Проблемы безопасности из-за высокого давления в цилиндрах</span><br>
                <span>· Аренда баллона/бака с жидким азотом</span><br>
                <span>· Транспортные расходы</span><br>
                <span>· Расходы на внутренние закупки</span><br>
                <span>· Трудозатраты и риски для баллона при погрузке-разгрузке и транспортировке.</span><br>
                <span>· Утечка 10-15% азота из-за температуры и внутреннего давления в баке с жидким азотом</span><br>
                <span>· Колебания давления газообразного азота при замене баллона!</span>
            </p>
        </h3>
        <img src="{% static 'airsyst_app/img/images/995ru 1.jpg' %}" alt="">
    </section>
    <section class="page-gen-clear-text wrap">
        <div class="page-gen-clear-text__items">
            <h3 class="page-gen-clear-text__item">
                <p><b>Решение: системы генерации кислорода IDEAL MAKINA</b></p>
                <p>
                    <span>· В необходимом вам количестве</span><br>
                    <span>· Чистота 95% (чистота 99,5% с серией UHP)</span><br>
                    <span>· При требуемом давлении</span><br>
                    <span>· Под вашим контролем</span><br>
                    <span>· В ваших руках производить газообразный кислород с гораздо меньшими затратами.</span>
                </p>
            </h3>
            <h3 class="page-gen-clear-text__item">
                <p><b>Мы очень хорошо знаем, чего вы ждете от генератора кислорода!</b></p>
                <p>
                    <span>· Сохраняет высокую чистоту</span><br>
                    <span>· Качественный, но экономичный</span><br>
                    <span>· Высокие технологии, но простые в использовании</span><br>
                    <span>· Долгий срок годности, но без проблем</span><br>
                    <span>· Техническое обслуживание, но круглосуточно</span><br>
            </h3>
        </div>
        <h4 class="page-gen-text">
            Благодаря технологии PSA, используемой СИСТЕМАМИ КИСЛОРОДНЫХ ГЕНЕРАТОРОВ IDEAL MAKINA, вы можете производить
            газообразный кислород с чистотой от 90% до 99,5% в диапазоне производительности от 0,5 до 2 000 нм3 / ч.
        </h4>
    </section>
    <section class="page-gen-small-img wrap">
        <img src="{% static 'airsyst_app/img/images/oksijenson-1 1.jpg' %}" alt="">
        <div class="page-gen-clear-text__items">
            <h3 class="page-gen-clear-text__item">
                <p><b>Генераторы кислорода 95% Ideal Makina</b></p>
                <p>
                    <span>· <b>Производительность:</b> 0,5 — 2000 Нм3/ч</span><br>
                    <span>· <b>Чистота:</b> 95%</span><br>
                    <span>· <b>Давление:</b> 1–150 бар изб.</span><br>
                    <span>· <b>Технология:</b> PSA (адсорбция при переменном давлении)</span><br>
                    <span>· <b>Производственная площадка:</b> Германия.</span>
                </p>
            </h3>
            <h3 class="page-gen-clear-text__item">
                <p><b>Генераторы кислорода Ideal Makina 99,5% UHP</b></p>
                <p>
                    <span>· <b>Производительность:</b> 0,5 — 1700 Нм3/ч</span><br>
                    <span>· <b>Чистота:</b> 99,5%</span><br>
                    <span>· <b>Давление:</b> 1–150 бар изб.</span><br>
                    <span>· <b>Технология:</b> DIA (разработанная идеальная адсорбция)</span><br>
                    <span>· <b>Производство:</b> Турция.</span>
            </h3>
        </div>
        <h4 class="page-gen-text tac">
            <p>
                Мы готовы предложить вам нашу комбинацию превосходного генератора кислорода и опыта проекта и применения
                İDEAL MAKİNA. <br>
                <a href="tel:+375293456789">Связаться с нами! +375 (29) 345 67 89</a>
            </p>
            <p>Будьте нашим клиентом, как в нашем списке рекомендаций. Покупайте решения, а не проблемы!</p>
        </h4>
    </section>

    <section class="page-gen-spec wrap">
        <div class="card__specifications">
            <div class="card__thumbs">
                <div class="card__thumb active">
                    Медицинские генераторы кислорода
                </div>
                <div class="card__thumb">
                    Таблица продукции
                </div>
                <div class="card__thumb">
                    Технические характеристики
                </div>
                <div class="card__thumb">
                    Принцип работы
                </div>
            </div>
            <div class="card__items">
                <div class="card__item active">
                    <h3 class="card__text">
                        <p>Использование генераторов кислорода в больницах увеличивается день ото дня.
                            IDEAL MAKINA удовлетворяет потребность больниц в газообразном кислороде наиболее экономичным
                            и
                            надежным способом с помощью наших генераторов кислорода IDEAL MAKINA, признанных во всем
                            мире.
                        </p>
                        <p>Медицинские генераторы кислорода IDEAL MAKINA, отличающиеся инновационным дизайном и
                            энергосберегающими функциями, производятся в соответствии с международными медицинскими
                            стандартами качества и стандартами ISO 13485:2016 и ISO 7396-1:2016. У них есть документ
                            93/42/EEC о медицинских устройствах, который должен быть доступен для медицинских устройств.
                            Кроме того, производство медицинского кислородного газа осуществляется в соответствии со
                            стандартами Европейской Фармакопеи. Наши кислородные генераторы имеют промышленные
                            сертификаты
                            качества, такие как PED, ISO, CE. Сертификаты CE на все медицинские стандарты и продукты
                            были
                            сертифицированы международными организациями, такими как немецкий TÜV-SÜD, швейцарский SQS,
                            IQNET. Сочетая высокое качество и инженерные решения, о чем свидетельствуют эти документы,
                            IDEAL
                            MAKINA принимает участие в медицинских проектах по всему миру.
                        </p>
                        <img src="{% static 'airsyst_app/img/images/oksijenson-1 1.jpg' %}" alt="">
                        <p>Наши медицинские генераторы кислорода с высокой надежностью используются в больницах по всему
                            миру. Вместе с генератором медицинского кислорода мы также поставляем всю систему для
                            полного
                            решения. Если вам нужен кислородный генератор и заправочная станция для заправки баллонов
                            высокого давления, мы можем предложить нашу кислородную заправочную станцию.
                        </p>
                    </h3>
                    <h3 class="card__text">
                        <b>Особенности:</b>
                    </h3>
                    <div class="page-gen-clear-text__items">
                        <h3 class="page-gen-clear-text__item">
                            <p>
                                <span>· Самостоятельная работа</span><br>
                                <span>· Автоматическая работа</span><br>
                                <span>· Подходит для 365 дней — 7/24</span><br>
                                <span>· Согласно ISO и Европейской фармакопее</span><br>
                                <span>· Сертификация MDD, PED и CE</span>
                                <span>· Расход стандартной модели до 0,5 — 387 м3/ч</span>
                                <span>· Низкое потребление энергии (1,0 кВт/м3)</span>
                            </p>
                        </h3>
                        <h3 class="page-gen-clear-text__item">
                            <p>
                                <span>· Низкий уровень выбросов CO2</span><br>
                                <span>· Прочная конструкция для тяжелых условий эксплуатации</span><br>
                                <span>· Качественные и прочные компоненты</span><br>
                                <span>· Система, монтируемая в контейнере</span><br>
                                <span>· Устанавливается на салазках</span><br>
                                <span>· Установка Plug & Play</span><br>
                                <span>· Высококачественная сенсорная панель</span><br>
                                <span>· Индустрия 4.0 — дистанционное управление</span><br>
                            </p>
                        </h3>
                    </div>
                </div>
                <div class="card__item ">
                    <img src="{% static 'airsyst_app/img/images/oksijentabluru-1500x980 1.jpg' %}" alt="">
                </div>
                <div class="card__item ">
                    <h3 class="page-gen-clear-text__item">
                        <p><b>ТРЕБОВАНИЯ СЖАТИЯ ВОЗДУХА</b></p>
                        <p>
                            <span>· <b>Диапазон темрератур:</b> +10 / +50˚C</span><br>
                            <span>· <b>Качество воздуха:</b> ISO 8573.1 Класс 1.4.1</span><br>
                            <span>· <b>Точка росы:</b> +3˚C</span>
                    </h3>
                    <h3 class="page-gen-clear-text__item">
                        <p><b>УСЛОВИЯ ОКР. СРЕДЫ</b></p>
                        <p>
                            <span>· <b>Диапазон темрератур:</b> +5 / +40˚C</span><br>
                            <span>· <b>Возможности:</b> -50 / +60˚C</span>
                    </h3>
                    <h3 class="page-gen-clear-text__item">
                        <p><b>ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ</b></p>
                        <p>
                            <span>· <b>Максимальное рабочее давление:</b> 10 бар</span><br>
                            <span>· <b>Параметры сети:</b> 230Вт, 50Гц/60Гц</span><br>
                            <span>· <b>Noise Level:</b> от 55 до макс. 85 ДБ(А)</span>
                    </h3>
                    <h3 class="page-gen-clear-text__item">
                        <p><b>ДОПОЛНИТЕЛЬНЫЕ ПРЕИМУЩЕСТВА</b></p>
                        <p>
                            <span>· Датчик точки росы</span><br>
                            <span>· Расходомер</span><br>
                            <span>· Profibus / Modbus передача данных</span><br>
                            <span>· GSM связь</span><br>
                            <span>· LAN</span><br>
                            <span>· RS 232</span><br>
                            <span>· Мобильные системы на шасси</span><br>
                            <span>· Контейнерные мобильные системы</span>
                    </h3>
                </div>
                <div class="card__item ">
                    <iframe src="https://www.youtube.com/embed/qLsU43It7fY" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

                    <h3 class="card__text">
                        <p>Генераторы кислорода Ideal Makina используют технологию PSA (адсорбция при переменном
                            давлении)
                            для производства газообразного кислорода из воздуха.</p>
                        <p>Кислородные генераторы Ideal Makina состоят из двух резервуаров, содержащих ЦЕОЛИТ. Воздух;
                            который находится под давлением, проходя через оборудование для кондиционирования воздуха,
                            входит с нижней стороны первого резервуара и проходит через весь ЦЕОЛИТ внутри резервуара и
                            передает его в резервуар с кислородом высокой чистоты. Между тем азот, аргон, окись углерода
                            и
                            другие газы, захваченные ЦЕОЛИТОМ, выбрасываются в атмосферу через выхлопные газы. После
                            завершения работы первого резервуара в течение времени, заданного сенсорной панелью
                            управления,
                            кондиционированный воздух поступает в днище второго резервуара, проходит через ЦЕОЛИТ и в
                            чистом
                            виде направляется в резервуар хранения кислорода. Таким образом, непрерывное производство
                            газообразного кислорода достигается за счет тандемной (синхронной) работы двух резервуаров,
                            заполненных ЦЕОЛИТОМ.</p>
                    </h3>
                </div>
            </div>
        </div>
    </section>


    {% include "parts/feedback.html" %}

{% endblock %}