{% extends "basic_template.html" %}
{% load static %}
{% block title %}AirSyst - Генераторы азота{% endblock %}
{% block content %}
<section class="page-gen-img">
    <img src="{% static 'airsyst_app/img/images/azotmenuru.jpg' %}" alt="">
</section>
<section class="page-gen-info wrap">
    <img src="{% static 'airsyst_app/img/images/azotsolresim-1 1.jpg' %}" alt="">
    <h2 class="page-gen-info__text">
        <p>Используя технологию PSA, IDEAL MAKINA производит генераторы азота с чистотой до 95% — 99,9999% (1 ppm)
            в диапазоне 0,5–5000 Нм3/ч с 30 моделями.</p>
        <p>IDEAL MAKINA является лидером в отрасли с 2005 года, установив более 500 систем на внутренних
            и международных рынках.</p>
        <p>Генераторы кислорода IDEAL MAKINA PSA производят кислород в виде газа из сжатого воздуха на месте,
            где они работают, и предлагают экономичное, непрерывное и безопасное решение по сравнению
            с традиционными
            источниками кислорода, такими как баллоны или криогенная жидкость. Конструкция рассчитана
            на круглосуточную
            работу. Каждый генератор азота оснащён функцией автоматического запуска и остановки, которая позволяет
            пользователю запускать и останавливать автоматически в зависимости от потребления азота.</p>
        <p>Благодаря разработанной запатентованной вихревой технологии IDEAL MAKINA обеспечивает более эффективное
            разделение воздуха за счёт более эффективного использования CMS (углеродного молекулярного сита) в новых
            генераторах азота серии GN. Это приводит к тому, что он является единственным генератором азота
            с наименьшим
            потреблением сжатого воздуха в мире.</p>
        <p><b>Используйте меньшие компрессоры, потребляйте меньше энергии с генератором азота IDEAL MAKINA.</b></p>
        <p><b>Вы можете производить свой собственный азот с помощью IDEAL MAKINA NITROGEN GENERATOR SYSTEMS и можете
                забыть о расходах на покупку баллона или жидкого азота!</b></p>
        <p>Кроме того;</p>
        <p><span>· В необходимом вам количестве</span><br>
            <span>· Чистота, необходимая для вашего производственного процесса</span><br>
            <span>· При требуемом давлении</span><br>
            <span>· Под вашим контролем…</span><br>
        </p>
    </h2>
</section>
<section class="page-gen-small-img wrap">
    <img src="{% static 'airsyst_app/img/images/azotsecimgorseli-1-scaled 1.jpg' %}" alt="">
</section>
<section class="page-gen-clear wrap">
    <h3 class="page-gen-clear__text">
        <p><b>Вы покупаете не только кислородный баллон или жидкий кислород, но и:</b></p>
        <p>
            <span>· Проблемы безопасности из-за высокого давления в цилиндрах</span><br>
            <span>· Аренда баллона/бака с жидким азотом</span><br>
            <span>· Транспортные расходы</span><br>
            <span>· Расходы на внутренние закупки</span><br>
            <span>· Трудозатраты и риски для баллона при погрузке-разгрузке и транспортировке.</span><br>
            <span>· Утечка 10-15% азота из-за температуры и внутреннего давления в баке с жидким азотом</span><br>
            <span>· Колебания давления газообразного азота при замене баллона!</span>
        </p>
    </h3>
    <img src="{% static 'airsyst_app/img/images/999999ru 1.png' %}" alt="">
</section>
<section class="page-gen-small-img wrap">
    <img src="{% static 'airsyst_app/img/images/azotsistem-3 1.jpg' %}" alt="">
    <div class="page-gen-small-img__legend">
        <span>1 - Винтовой воздушный компрессор</span>
        <span>2 - Сепаратор воды и фильтр твердых частиц</span>
        <span>3 - Осушитель сжатого воздуха</span>
        <span>4 - Башня с активированным углем</span>
        <span>5 - Фильтр твердых частиц</span>
        <span>6 - Пылевой фильтр</span>
        <span>7 - Воздушное судно</span>
        <span>8 - Автоматический слив конденсата</span>
        <span>9 - Генератор азота</span>
        <span>10 - Буферный сосуд генератора азота</span>
        <span>11 - Комплект распределения азота</span>
        <span>12 - Бустерный компрессор азота</span>
        <span>13 - Связка азота</span>
        <span>14 - Процесс</span>
    </div>
</section>
<section class="page-gen-our-char wrap">
    <h2 class="sub-title">
        НАШИ ПРЕВОСХОДНЫЕ ХАРАКТЕРИСТИКИ
    </h2>
    <div class="page-gen-our-char__items">
        <div class="page-gen-our-char__item">
            <img src="{% static 'airsyst_app/img/images/ekran-scaled 1.jpg' %}" alt="">
            <h3 class="page-gen-our-char__text">
                <p><b>Сенсорная панель управления</b></p>
                <p>
                    <span> 5″ — 10″ сенсорный цветной экран</span>
                    <span> 16 языковых вариантов</span>
                    <span> 14 входов датчиков</span>
                    <span> Долговечный циркониевый кислородный датчик</span>
                    <span> Modbus/Profibus/RMB</span>
                    <span> Стандарты защиты IP55</span>
                </p>
            </h3>
        </div>
        <div class="page-gen-our-char__item">
            <img src="{% static 'airsyst_app/img/images/redundant 1.jpg' %}" alt="">
            <h3 class="page-gen-our-char__text">
                <p><b>Технология резервного клапана</b></p>
                <p>
                    <span> Комплект запасных клапанов</span>
                    <span> Гарантия непрерывного производства</span>
                    <span> Простота обслуживания</span>
                    <span> Функция простого управления</span>
                    <span> Герметичное соединение клапана</span>
                </p>
            </h3>
        </div>
        <div class="page-gen-our-char__item">
            <img src="{% static 'airsyst_app/img/images/blokvalf 1.jpg' %}" alt="">
            <h3 class="page-gen-our-char__text">
                <p><b>Технология запорной арматуры AISI 316</b></p>
                <p>
                    <span> Высококачественная нержавеющая сталь</span>
                    <span> Пневматическое управление</span>
                    <span> Нет необходимости в обслуживании</span>
                    <span> Компактная моноблочная конструкция</span>
                </p>
            </h3>
        </div>
        <div class="page-gen-our-char__item">
            <img src="{% static 'airsyst_app/img/images/saflikgarantisiru 1.jpg' %}" alt="">
            <h3 class="page-gen-our-char__text">
                <p><b>Технология Autopure</b></p>
                <p>
                    <span> Непрерывный контроль чистоты</span>
                    <span> Гарантия чистоты</span>
                    <span> Клапан контроля чистоты</span>
                    <span> Предохранительный клапан низкой чистоты</span>
                    <span> Линия дополнительного контроля чистоты</span>
                </p>
            </h3>
        </div>
        <div class="page-gen-our-char__item">
            <img src="{% static 'airsyst_app/img/images/724tr 1.jpg' %}" alt="">
            <h3 class="page-gen-our-char__text">
                <p><b>Круглосуточная сервисная поддержка</b></p>
                <p>
                    <span> Экспертная техническая служба</span>
                    <span> Техническая поддержка через Интернет</span>
                    <span> Установка и услуги супервайзера</span>
                    <span> Быстрое и эффективное вмешательство</span>
                    <span> 10-летняя гарантия на запасные части</span>
                </p>
            </h3>
        </div>
        <div class="page-gen-our-char__item">
            <img src="{% static 'airsyst_app/img/images/screen-shot-2022-02-25-at-212239-copy 1.jpg' %}" alt="">
            <h3 class="page-gen-our-char__text">
                <p><b>Низкий воздушный фактор</b></p>
                <p>
                    <span> Вихревая технология</span>
                    <span> Самый низкий фактор воздуха в мире</span>
                    <span> Расход воздуха в необходимом объеме</span>
                    <span> Производство азота при высокой скорости потока с меньшим компрессором</span>
                    <span> Низкое энергопотребление, экономичное производство азота</span>
                </p>
            </h3>
        </div>
        <div class="page-gen-our-char__item">
            <img src="{% static 'airsyst_app/img/images/servis-1 1.jpg' %}" alt="">
            <h3 class="page-gen-our-char__text">
                <p><b>Низкие затраты на эксплуатацию и техническое обслуживание</b></p>
                <p>
                    <span> Длительный период обслуживания</span>
                    <span> Высококачественное оборудование</span>
                    <span> Низкие затраты на запасные части и обслуживание</span>
                    <span> Не требующая обслуживания выхлопная и клапанная техника</span>
                    <span> Низкое энергопотребление, экономичное производство азота</span>
                </p>
            </h3>
        </div>
        <div class="page-gen-our-char__item">
            <img src="{% static 'airsyst_app/img/images/endustri40ru 1.jpg' %}" alt="">
            <h3 class="page-gen-our-char__text">
                <p><b>Индустрия 4.0</b></p>
                <p>
                    <span> Modbus/Profibus/RMB/Ethernet доступ и возможности удаленного управления</span>
                    <span> Удаленный доступ через приложения на базе Android и IOS благодаря модулю GSM</span>
                    <span> Единая точка управления системным оборудованием, таким как компрессор, осушитель,
                        генератор азота, бустер и фильтры</span>
                </p>
            </h3>
        </div>
        <div class="page-gen-our-char__item">
            <img src="{% static 'airsyst_app/img/images/aktifkarbon-1 1.jpg' %}" alt="">
            <h3 class="page-gen-our-char__text">
                <p><b>CMS высокого качества</b></p>
                <p>
                    <span> CMS немецкого производства</span>
                    <span> 60 000 часов / 10 лет гарантии производительности</span>
                    <span> Для сжатого воздуха достаточно точки росы 3°C, нет необходимости в химическом
                        осушителе</span>
                    <span> Экологичность</span>
                </p>
            </h3>
        </div>
    </div>
</section>



{% include "parts/feedback.html" %}

{% endblock %}