{% extends 'basic_template.html' %}
{% load static %}
{% block title %}AirSyst - {{ item.name }}{% endblock %}
{% block content %}
<div class="bread-crumbs wrap">
    <a href="/" class="bread-crumbs__item">Главная</a>
    <a href="{% url 'equipment' %}" class="bread-crumbs__item">Оборудование</a>
    {% if item.sub_category and item.category %}
    <a href="{% url 'equipment_by_category' item.category.pk %}" class="bread-crumbs__item">{{ item.category.name }}</a>
    <a href="{% url 'equipment_catalog_by_sub_category' item.sub_category.pk %}"
        class="bread-crumbs__item">{{ item.sub_category.name }}</a>
    <div class="bread-crumbs__item">{{ item.name }}</div>
    {% elif item.category %}
    <a href="{% url 'equipment_by_category' item.category.pk %}" class="bread-crumbs__item">{{ item.category.name }}</a>
    <div class="bread-crumbs__item">{{ item.name }}</div>
    {% endif %}
</div>
<section class="card wrap">
    <div class="card__top">
        {% if images %}
        <div class="card__sliders">
            <div class="card__slider-main">
                <div class="swiper-wrapper">
                    {% for image_model in images %}
                    <div class="swiper-slide">
                        <img class='slider-img' src="{{ image_model.image.url }}" alt="">
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="card__slider-thumbs">
                <div class="swiper-wrapper">
                    {% for image_model in images %}
                    <div class="swiper-slide">
                        <img src="{{ image_model.image.url }}" alt="">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="card__info" product-id="{{ item.pk }}">
            <h1 class="card__name">{{ item.name }}</h1>
            <h2 class="card__art">Артикул: {{ item.article }}</h2>
            <div class="card__price-and-delivery">
                <h3 class="card__price">
                    <div class="catalog__price">{{ item.price }} BYN</div>
                    <div class="catalog__delivery">срок поставки: {{ item.supply_time }}</div>
                </h3>
                <div class="catalog__count">
                    <div class="catalog__minus">-</div>
                    <input id="catalog-count" type="text" value="1">
                    <div class="catalog__plus">+</div>
                </div>
                {% if item.certificate %}
                <a href="/" download="" class="show-certificate">Смотреть Сертификат</a>
                {% endif %}
            </div>
            <div class="card__delivery-and-warranty">
                <div class="card__delivery">
                    <img src="{% static 'airsyst_app/img/icons/delivery.svg' %}" alt="">
                    Доставка <span>{{ item.delivery_time }}</span>
                </div>
                <div class="card__warranty">
                    <img src="{% static 'airsyst_app/img/icons/warranty.png' %}" alt="">
                    Гарантия <span>{{ item.warranty }}</span>
                </div>
            </div>
            <div class="btn to-shopping-cart">
                <img src="{% static 'airsyst_app/img/icons/to-basket.svg' %}" alt="">
                В
                корзину
            </div>
        </div>
    </div>
    <div class="card__specifications">
        <div class="card__thumbs">
            <div class="card__thumb active">характеристики</div>
            <div class="card__thumb">Описание</div>
        </div>
        <div class="card__items">
            <div class="card__item active">
                {% for option_model in options %}
                <div class="card__row">
                    <h3 class="card__spec-name">{{ option_model.option.name }}</h3>
                    <h3 class="card__value">{{ option_model.option_value.name }}</h3>
                </div>
                {% endfor %}
                <br>
                {% if item.brand.country.flag.url %}
                <div class="card__row">
                    <h3 class="card__spec-name">Страна бренд</h3>
                    <h3 class="card__value">
                        <img src="{{ item.brand.country.flag.url }}" alt="">
                    </h3>
                </div>
                {% endif %}
                {% if item.country_create.flag.url %}
                <div class="card__row">
                    <h3 class="card__spec-name">Страна изготовитель</h3>
                    <h3 class="card__value">
                        <img src="{{ item.country_create.flag.url }}" alt="">
                    </h3>
                </div>
                {% endif %}
                {% if item.weight %}
                <div class="card__row">
                    <h3 class="card__spec-name">Вес (кг)</h3>
                    <h3 class="card__value">{{ item.weight }}</h3>
                </div>
                {% endif %}
                {% if item.width %}
                <div class="card__row">
                    <h3 class="card__spec-name">Ширина (см)</h3>
                    <h3 class="card__value">{{ item.width }}</h3>
                </div>
                {% endif %}
                {% if item.width %}
                <div class="card__row">
                    <h3 class="card__spec-name">Длина (см)</h3>
                    <h3 class="card__value">{{ item.length }}</h3>
                </div>
                {% endif %}
                {% if item.width %}
                <div class="card__row">
                    <h3 class="card__spec-name">Высота (см)</h3>
                    <h3 class="card__value">{{ item.height }}</h3>
                </div>
                {% endif %}
            </div>
            <div class="card__item ">
                <h3 class="card__text">
                    {{ item.description|safe }}
                </h3>
            </div>
        </div>
    </div>
</section>
{% endblock %}