{% extends 'basic_template.html' %}
{% load static %}
{% load app_tags %}
{% block title %}AirSyst - Наши проекты{% endblock %}
{% block content %}
<div class="bread-crumbs wrap">
    <a href="/" class="bread-crumbs__item">Главная</a>
    <div class="bread-crumbs__item">Наши проекты</div>
</div>
<section class="projects wrap">
    <h1 class="title">Наши проекты</h1>
    <div class="sort-select">
        <div class="custom-select">
            Сортировка: <span>сервис и обслуживание</span>
        </div>
        <select id="sort">
            <option value="ALL">
                сервис и обслуживание
            </option>
            <option value="MAINTENANCE">
                обслуживание
            </option>
            <option value="REPAIR">
                сервис
            </option>
        </select>
    </div>
    <div class="projects__items">
        {% for project in projects %}
        <div class="projects__item">
            <div class="projects__preview">
                {% get_images_for_project project.pk as proj_image %}
                <img src="{{ proj_image.image.url }}" alt="">
                <img src="{% static 'airsyst_app/img/images/manufacturer.png' %}" class="projects__manufacturer">
            </div>
            <div class="projects__content">
                <div class="projects__date">
                    <div class="projects__day">{{ project.date|get_day }}</div>
                    <div class="project__small-date">
                        <div class="projects__month">{{ project.date|get_month }}</div>
                        <div class="projects__year">{{ project.date|get_year }}</div>
                    </div>
                </div>
                <h3 class="projects__customer">{{ project.company.name }}</h3>
                <h3 class="projects__name">
                    {{ project.title }}
                </h3>
                <h4 class="projects__descr">
                    {{ project.description }}
                </h4>
                <a href="{% url 'project_by_id' project.pk %}" class="btn">Подробнее</a>
            </div>
        </div>

        {% endfor %}
        {% comment %} <a href="/project_single/" class="btn">Все проекты</a> {% endcomment %}
    </div>
</section>
{% endblock %}