{% extends 'basic_template.html' %}
{% load static %}
{% block title %}
AirSyst - Заказ
{% endblock %}
{% block content %}
<div class="bread-crumbs wrap">
    <a href="/" class="bread-crumbs__item">Главная</a>
    <div class="bread-crumbs__item">О сервисном центре</div>
</div>

<section class="service wrap">
    <h1 class="title">
        О сервисном центре
    </h1>
    <h2 class="sub-title">
        ОАО “ГРОДНОХЛЕБПРОМ”
    </h2>
    <h3 class="city">
        г.Минск
    </h3>
    <h4 class="service__text">
        <span>ООО "AIRSYST"</span> - коллектив профессионалов! Людей, которые знают компрессорную технику не
        только по книгам, инструкциям и каталогам, а на практике и путем собственного опыта, изучивших
        оборудование за годы продаж, обслуживания и ремонтов на предприятиях различных отраслей деятельности.
        <br>
        В своем развитии Мы во многом обязаны Вам, нашим клиентам, которые заинтересовались компрессорами и их
        установкой для личного и промышленного использования. Мы всегда помним для кого мы работаем и добиваемся от
        производителей наилучших условий в ценообразовании и сервисной политике.
    </h4>
    <h4 class="service__text">
        <span>ООО "AIRSYST"</span> - коллектив профессионалов! Людей, которые знают компрессорную технику не
        только по книгам, инструкциям и каталогам, а на практике и путем собственного опыта, изучивших
        оборудование за годы продаж, обслуживания и ремонтов на предприятиях различных отраслей деятельности.
        <br>
        В своем развитии Мы во многом обязаны Вам, нашим клиентам, которые заинтересовались компрессорами и их
        установкой для личного и промышленного использования. Мы всегда помним для кого мы работаем и добиваемся от
        производителей наилучших условий в ценообразовании и сервисной политике.
    </h4>
    <h4 class="service__text">
        <span>ООО "AIRSYST"</span> - коллектив профессионалов! Людей, которые знают компрессорную технику не
        только по книгам, инструкциям и каталогам, а на практике и путем собственного опыта, изучивших
        оборудование за годы продаж, обслуживания и ремонтов на предприятиях различных отраслей деятельности.
        <br>
        В своем развитии Мы во многом обязаны Вам, нашим клиентам, которые заинтересовались компрессорами и их
        установкой для личного и промышленного использования. Мы всегда помним для кого мы работаем и добиваемся от
        производителей наилучших условий в ценообразовании и сервисной политике.
    </h4>
    <h4 class="service__text">
        <span>ООО "AIRSYST"</span> - коллектив профессионалов! Людей, которые знают компрессорную технику не
        только по книгам, инструкциям и каталогам, а на практике и путем собственного опыта, изучивших
        оборудование за годы продаж, обслуживания и ремонтов на предприятиях различных отраслей деятельности.
        <br>
        В своем развитии Мы во многом обязаны Вам, нашим клиентам, которые заинтересовались компрессорами и их
        установкой для личного и промышленного использования. Мы всегда помним для кого мы работаем и добиваемся от
        производителей наилучших условий в ценообразовании и сервисной политике.
    </h4>
    {% comment %} <a href="/" class="btn">Подробнее</a> {% endcomment %}
</section>

<section class="projects wrap">
    <h1 class="title">
        Наши проекты
    </h1>
    <div class="sort-select">
        <div class="custom-select">Сортировка: <span> сервис и обслуживание</span></div>
        <select id="sort">
            <option value="сервис и обслуживание">сервис и обслуживание</option>
            <option value="сервис и">сервис и </option>
            <option value="сервис обслуживание">сервис обслуживание</option>
            <option value="обслуживание">обслуживание</option>
        </select>
    </div>
    <div class="projects__items">
        <div class="projects__item">
            <div class="projects__preview">
                <img src="{% static 'airsyst_app/img/images/project.png' %}" alt="">
                <img src="{% static 'airsyst_app/img/images/manufacturer.png' %}" class="projects__manufacturer">
            </div>
            <div class="projects__content">
                <div class="projects__date">
                    <div class="projects__day">
                        20
                    </div>
                    <div class="project__small-date">
                        <div class="projects__month">
                            июня
                        </div>
                        <div class="projects__year">
                            2021
                        </div>
                    </div>
                </div>
                <h3 class="projects__customer">
                    ОАО “ГРОДНОХЛЕБПРОМ”
                </h3>
                <h3 class="projects__name">
                    Ремонт и восстановление безмасляного винтового компрессора <br>REMEZA BK-60-2.5/O на 45кВт
                </h3>
                <h4 class="projects__descr">
                    <span>Были выполнены работы:</span>
                    <br>Капитальный ремонт безмасляного компрессорного блока GHH-RAND CS80R/1
                    <br>Замена подшипников и лабиринтных уплотнений
                    <br>Замена втулки
                    <br>Проверка и регулировка соосности винтов (ведущего и ведомого)
                    <br>Регулировка зазоров винтовой пары
                    <br>Непрерывные испытания в течение 24 часов
                    <br>
                    <br><span>Капитальный ремонт электродвигателя SIEMENS 1LG4223-2AA60-Z</span>
                    <br>Замена подшипников и смазки
                    <br>Восстановление крышки корпуса...
                </h4>
                <a href="/project_single/" class="btn">Подробнее</a>
            </div>

        </div>
        <div class="projects__item">
            <div class="projects__preview">
                <img src="{% static 'airsyst_app/img/images/project.png' %}" alt="">
                <img src="{% static 'airsyst_app/img/images/manufacturer.png' %}" class="projects__manufacturer">
            </div>
            <div class="projects__content">
                <div class="projects__date">
                    <div class="projects__day">
                        20
                    </div>
                    <div class="project__small-date">
                        <div class="projects__month">
                            июня
                        </div>
                        <div class="projects__year">
                            2021
                        </div>
                    </div>
                </div>
                <h3 class="projects__customer">
                    ОАО “ГРОДНОХЛЕБПРОМ”
                </h3>
                <h3 class="projects__name">
                    Ремонт и восстановление безмасляного винтового компрессора <br>REMEZA BK-60-2.5/O на 45кВт
                </h3>
                <h4 class="projects__descr">
                    <br><span>Были выполнены работы:</span>
                    <br>Капитальный ремонт безмасляного компрессорного блока GHH-RAND CS80R/1
                    <br>Замена подшипников и лабиринтных уплотнений
                    <br>Замена втулки
                    <br>Проверка и регулировка соосности винтов (ведущего и ведомого)
                    <br>Регулировка зазоров винтовой пары
                    <br>Непрерывные испытания в течение 24 часов
                    <br>
                    <br><span>Капитальный ремонт электродвигателя SIEMENS 1LG4223-2AA60-Z</span>
                    <br>Замена подшипников и смазки
                    <br>Восстановление крышки корпуса...
                </h4>
                <a href="/project_single/" class="btn">Подробнее</a>
            </div>

        </div>
        <div class="projects__item">
            <div class="projects__preview">
                <img src="{% static 'airsyst_app/img/images/project.png' %}" alt="">
                <img src="{% static 'airsyst_app/img/images/manufacturer.png' %}" class="projects__manufacturer">
            </div>
            <div class="projects__content">
                <div class="projects__date">
                    <div class="projects__day">
                        20
                    </div>
                    <div class="project__small-date">
                        <div class="projects__month">
                            июня
                        </div>
                        <div class="projects__year">
                            2021
                        </div>
                    </div>
                </div>
                <h3 class="projects__customer">
                    ОАО “ГРОДНОХЛЕБПРОМ”
                </h3>
                <h3 class="projects__name">
                    Ремонт и восстановление безмасляного винтового компрессора <br>REMEZA BK-60-2.5/O на 45кВт
                </h3>
                <h4 class="projects__descr">
                    <br><span>Были выполнены работы:</span>
                    <br>Капитальный ремонт безмасляного компрессорного блока GHH-RAND CS80R/1
                    <br>Замена подшипников и лабиринтных уплотнений
                    <br>Замена втулки
                    <br>Проверка и регулировка соосности винтов (ведущего и ведомого)
                    <br>Регулировка зазоров винтовой пары
                    <br>Непрерывные испытания в течение 24 часов
                    <br>
                    <br><span>Капитальный ремонт электродвигателя SIEMENS 1LG4223-2AA60-Z</span>
                    <br>Замена подшипников и смазки
                    <br>Восстановление крышки корпуса...
                </h4>
                <a href="/project_single/" class="btn">Подробнее</a>
            </div>

        </div>

        <a href="/projects/" class="btn">Все проекты</a>
    </div>
</section>

{% endblock %}