{% extends 'basic_template.html' %}
{% load static %}
{% load app_tags %}
{% block title %}AirSyst - Корзина{% endblock %}
{% block content %}
{% comment %} <div class="bread-crumbs wrap">
    <a href="/" class="bread-crumbs__item">Главная</a>
    <a href="/" class="bread-crumbs__item">Оборудование</a>
    <div class="bread-crumbs__item">Компрессоры</div>
</div> {% endcomment %}
<section class="shop-cart wrap">
    <h1 class="title">Корзина</h1>
    {% if basket_items %}
    <div class="shop-cart__content">
        <div class="shop-cart__head">
            <div class="filter__checkbox" name="select-all">
                <div class="filter__check">
                    <img src="{% static 'airsyst_app/img/icons/check.svg' %}">
                </div>
                <span>Выбрать все</span>
            </div>
            <div class="shop-cart__delete-all">
                <img src="{% static 'airsyst_app/img/icons/delete.svg' %}">
                Удалить выбранное
            </div>
        </div>
        <div class="shop-cart__body">
            <div class="shop-cart__body__content">
                <div class="shop-cart__header">
                    <div class="shop-cart__col"></div>
                    <div class="shop-cart__col"></div>
                    <div class="shop-cart__col">Наименование</div>
                    <div class="shop-cart__col">Цена</div>
                    <div class="shop-cart__col">К-во</div>
                    <div class="shop-cart__col">Стоимость</div>
                    <div class="shop-cart__col"></div>
                </div>
                <div class="shop-cart__items">
                    {% for basket_item in basket_items %}
                    <div class="shop-cart__item" product-id="{{ basket_item.equip_obj.pk }}">
                        <div class=" shop-cart__col select">
                            <div class="filter__checkbox">
                                <div class="filter__check">
                                    <img src="{% static 'airsyst_app/img/icons/check.svg' %}">
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'equipment_single' basket_item.equip_obj.pk %}"
                            class="shop-cart__col shop-cart__img">
                            <img src="{{ basket_item.equip_obj.pk|get_first_image_for_equip }}" alt="">
                        </a>
                        <div class="shop-cart__col shop-cart__name">{{ basket_item.equip_obj.name }}</div>
                        <div class="shop-cart__col shop-cart__price">{{ basket_item.equip_obj.price }} BYN</div>
                        <div class="shop-cart__col shop-cart__count">
                            <div class="catalog__count">
                                <div class="catalog__minus">-</div>
                                <input id="catalog-count" type="text" value="{{ basket_item.count }}">
                                <div class="catalog__plus">+</div>
                            </div>
                        </div>
                        <div class="shop-cart__col shop-cart__full-price">{{ basket_item.full_price }} BYN</div>
                        <div class="shop-cart__col shop-cart__delete">
                            <img src="{% static 'airsyst_app/img/icons/delete.svg' %}" alt="">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="shop-cart__form">
                <div class="shop-cart__sub-title">
                    Ваш заказ
                </div>
                <div class="shop-cart__form__item shop-cart__form__count">
                    <div class="shop-cart__form__text">
                        Выбрано товаров:
                    </div>
                    <div class="shop-cart__form__value">
                        {{ basket_items|get_basket_full_count }} шт.
                    </div>
                </div>
                <div class="shop-cart__form__item shop-cart__form__wt">
                    <div class="shop-cart__form__text">
                        Вес заказа:
                    </div>
                    <div class="shop-cart__form__value">
                        {{ basket_items|get_basket_full_weight }} кг.
                    </div>
                </div>
                <div class="shop-cart__form__item shop-cart__form__total">
                    <div class="shop-cart__form__text">
                        Итого:
                    </div>
                    <div class="shop-cart__form__value">
                        {{ basket_items|get_basket_full_price }} BYN
                    </div>
                </div>
                <a href="{% url 'order' %}" class="btn">Оформить заказ</a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="shop-cart__empty">
        Корзина пуста
    </div>
    {% endif %}
</section>
{% endblock %}