{% extends 'basic_template.html' %}
{% load static %}
{% block title %}
AirSyst - Заказ
{% endblock %}
{% block content %}
<div class="bread-crumbs wrap">
    <a href="/" class="bread-crumbs__item">Главная</a>
    <div class="bread-crumbs__item">Запчасти для компрессора</div>
</div>

<section class="spare-parts wrap">
    <h1 class="title">
        Запчасти для компрессоров
    </h1>
    <div class="spare-parts__items spare-parts__items_next">
        <a href="/spare_parts_single/" class="spare-parts__item">
            <img src="{% static 'airsyst_app/img/images/block.svg' %}" alt="">
            <h2 class="spare-parts__name">
                Винтовой блок
            </h2>
        </a>
        <a href="/spare_parts_single/" class="spare-parts__item">
            <img src="{% static 'airsyst_app/img/images/block.svg' %}" alt="">
            <h2 class="spare-parts__name">
                Винтовой блок
            </h2>
        </a>
        <a href="/spare_parts_single/" class="spare-parts__item">
            <img src="{% static 'airsyst_app/img/images/block.svg' %}" alt="">
            <h2 class="spare-parts__name">
                Винтовой блок
            </h2>
        </a>
        <a href="/spare_parts_single/" class="spare-parts__item">
            <img src="{% static 'airsyst_app/img/images/block.svg' %}" alt="">
            <h2 class="spare-parts__name">
                Винтовой блок
            </h2>
        </a>
        <a href="/spare_parts_single/" class="spare-parts__item">
            <img src="{% static 'airsyst_app/img/images/block.svg' %}" alt="">
            <h2 class="spare-parts__name">
                Винтовой блок
            </h2>
        </a>
        <a href="/spare_parts_single/" class="spare-parts__item">
            <img src="{% static 'airsyst_app/img/images/block.svg' %}" alt="">
            <h2 class="spare-parts__name">
                Винтовой блок
            </h2>
        </a>
        <a href="/spare_parts_single/" class="spare-parts__item">
            <img src="{% static 'airsyst_app/img/images/block.svg' %}" alt="">
            <h2 class="spare-parts__name">
                Винтовой блок
            </h2>
        </a>
        <a href="/spare_parts_single/" class="spare-parts__item">
            <img src="{% static 'airsyst_app/img/images/block.svg' %}" alt="">
            <h2 class="spare-parts__name">
                Винтовой блок
            </h2>
        </a>
        <a href="/spare_parts_single/" class="spare-parts__item">
            <img src="{% static 'airsyst_app/img/images/block.svg' %}" alt="">
            <h2 class="spare-parts__name">
                Винтовой блок
            </h2>
        </a>
        <a href="/spare_parts_single/" class="spare-parts__item">
            <img src="{% static 'airsyst_app/img/images/block.svg' %}" alt="">
            <h2 class="spare-parts__name">
                Винтовой блок
            </h2>
        </a>
        <a href="/spare_parts_single/" class="spare-parts__item">
            <img src="{% static 'airsyst_app/img/images/block.svg' %}" alt="">
            <h2 class="spare-parts__name">
                Винтовой блок
            </h2>
        </a>
        <a href="/spare_parts_single/" class="spare-parts__item">
            <img src="{% static 'airsyst_app/img/images/block.svg' %}" alt="">
            <h2 class="spare-parts__name">
                Винтовой блок
            </h2>
        </a>
        <a href="/spare_parts_single/" class="spare-parts__item">
            <img src="{% static 'airsyst_app/img/images/block.svg' %}" alt="">
            <h2 class="spare-parts__name">
                Винтовой блок
            </h2>
        </a>
        <a href="/spare_parts_single/" class="spare-parts__item">
            <img src="{% static 'airsyst_app/img/images/block.svg' %}" alt="">
            <h2 class="spare-parts__name">
                Винтовой блок
            </h2>
        </a>
        <a href="/spare_parts_single/" class="spare-parts__item">
            <img src="{% static 'airsyst_app/img/images/block.svg' %}" alt="">
            <h2 class="spare-parts__name">
                Винтовой блок
            </h2>
        </a>
        <a href="/spare_parts_single/" class="spare-parts__item">
            <img src="{% static 'airsyst_app/img/images/block.svg' %}" alt="">
            <h2 class="spare-parts__name">
                Винтовой блок
            </h2>
        </a>
        <a href="/spare_parts_single/" class="spare-parts__item">
            <img src="{% static 'airsyst_app/img/images/block.svg' %}" alt="">
            <h2 class="spare-parts__name">
                Винтовой блок
            </h2>
        </a>
        <a href="/spare_parts_single/" class="spare-parts__item">
            <img src="{% static 'airsyst_app/img/images/block.svg' %}" alt="">
            <h2 class="spare-parts__name">
                Винтовой блок
            </h2>
        </a>
        <a href="/spare_parts_single/" class="spare-parts__item">
            <img src="{% static 'airsyst_app/img/images/block.svg' %}" alt="">
            <h2 class="spare-parts__name">
                Винтовой блок
            </h2>
        </a>
        <a href="/spare_parts_single/" class="spare-parts__item">
            <img src="{% static 'airsyst_app/img/images/block.svg' %}" alt="">
            <h2 class="spare-parts__name">
                Винтовой блок
            </h2>
        </a>
        <a href="/spare_parts_single/" class="spare-parts__item">
            <img src="{% static 'airsyst_app/img/images/block.svg' %}" alt="">
            <h2 class="spare-parts__name">
                Винтовой блок
            </h2>
        </a>
        <a href="/spare_parts_single/" class="spare-parts__item">
            <img src="{% static 'airsyst_app/img/images/block.svg' %}" alt="">
            <h2 class="spare-parts__name">
                Винтовой блок
            </h2>
        </a>
        <a href="/spare_parts_single/" class="spare-parts__item">
            <img src="{% static 'airsyst_app/img/images/block.svg' %}" alt="">
            <h2 class="spare-parts__name">
                Винтовой блок
            </h2>
        </a>
        <a href="/spare_parts_single/" class="spare-parts__item">
            <img src="{% static 'airsyst_app/img/images/block.svg' %}" alt="">
            <h2 class="spare-parts__name">
                Винтовой блок
            </h2>
        </a>
        <a href="/spare_parts_single/" class="spare-parts__item">
            <img src="{% static 'airsyst_app/img/images/block.svg' %}" alt="">
            <h2 class="spare-parts__name">
                Винтовой блок
            </h2>
        </a>
    </div>
</section>

<section class="feedback wrap">
    <form>
        <h2 class="feedback__title">
            Обратная связь
        </h2>
        <input type="text" name="" placeholder="Имя">
        <input type="text" name="" placeholder="Email">
        <textarea name="" placeholder="Ваше сообщение"></textarea>
        <div class="feedback__checkbox">
            <div class="feedback__check">
                <img src="img/icons/check.svg">
            </div>
            <span>Я принимаю условия политики конфиденциальности</span>
        </div>
        <input type="submit" value="Отправить" class="btn">
    </form>
</section>
{% endblock%}