{% extends 'basic_template.html' %}
{% load static %}
{% block title %}AirSyst - Заказ{% endblock %}
{% block content %}
    <div class="bread-crumbs wrap">
        <a href="/" class="bread-crumbs__item">Главная</a>
        <div class="bread-crumbs__item">Запчасти для компрессора</div>
    </div>
    <section class="spare-parts wrap">
        <h1 class="title">Запчасти для компрессоров</h1>
        {% if all_brands %}
            <div class="spare-parts__items">
                {% for brand in all_brands %}
                    <a href="{% url 'parts_type' %}" class="spare-parts__item">
                        {% if brand.logo %}<img src="{{ brand.logo.url }}" alt="">{% endif %}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </section>
    {% include "parts/feedback.html" %}
{% endblock %}
