{% extends 'basic_template.html' %}
{% load static %}
{% block title %}AirSyst - Заказ{% endblock %}
{% block content %}
    <div class="bread-crumbs wrap">
        <a href="/" class="bread-crumbs__item">Главная</a>
        <div class="bread-crumbs__item">Запчасти для компрессора</div>
    </div>
    <section class="spare-parts wrap">
        <h1 class="title">Запчасти для компрессоров</h1>
        {% if part_types %}
            <div class="spare-parts__items spare-parts__items_next">
                {% for part in part_types %}
                    <a href="{% url 'parts_single' %}" class="spare-parts__item">
                        <img src="{{ part.image.url }}" alt="">
                        <h2 class="spare-parts__name">{{ part.name }}</h2>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </section>
    {% include "parts/feedback.html" %}
{% endblock %}
